.footer {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.footer__text {
  color: #ccc;
  font-size: 0.9rem;
}
